.hero_list{
    list-style: none;
}

.hero_item{
    background-color: #555;
    padding: 0;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_item:not(:last-child){
    margin-bottom: .5rem;
}

.hero_link{
    text-decoration: none;
    color: #eee;
    width: 100%; 
}
.delete{
    background-color: white;
    color: red;
    cursor: pointer;
    height: 100%;
    padding: .2rem .5rem; 
    align-self: stretch;
}